.app {
	position: relative;
	height: 100%;
	padding-left: 200px;
}

.menu-list {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	height: 100%;
	padding-top: 15px;
	background: #ccc;
}

.menu-list .active {
	color: #f66;
}

.page-container {
	padding: 30px;
}
